<a (click)=onClicked()>
<div><img class="eventimg" > </div>
<hr/>
<span><h1 class="content">{{eventInput.event_name}}</h1></span>
<p class="content">{{eventInput.event_description}} </p>
<p class="content">{{eventInput.begin_datetime}}</p>
</a>
<div id="i">
  <button class="optButton" >
    <mat-icon (click)="onDelete()" class="material-symbols-outlined">delete</mat-icon>
  </button>
  <button class="optButton" >
    <mat-icon (click)="onUpdate()" class="material-symbols-outlined">cached</mat-icon>
  </button>
</div>