.eventimg {
  width: 100%;
  height: 25rem;
}

.content {
  padding: 0 .7rem;
}

hr {
  margin: 0;
}

h1 {
  margin: .5rem 0;
}

p {
  margin: 0.4rem 0;
}

*:hover {
  cursor:pointer;
}

.optButton {
  float: right;
}

#i {
  padding-right: 0.5rem;
}