
app-event-preview {
  width: 48.5%;
  margin-bottom: 1.5rem;
  float: left;
}

.oddEvent {
  margin-right: 3%;
}

app-event-preview.lastEvent {
  margin: 1rem 25%;
}

#events {
  margin: 0 auto;
  width: 70%;
}