
app-event-preview {
  width: 47.5%;
  margin-bottom: 1rem;
  float: left;
}

.oddEvent {
  margin-right: 5%;
}

app-event-preview.lastEvent {
  margin: 1rem 25%;
}

#events {
  margin: 0 auto;
  width: 65%;
}