
<div *ngIf="loginBool">
<div class="container">
  <h1 mat-dialog-title>Ingresar a tu cuenta</h1>
  <button (click)="closeDialog()" mat-icon-button>
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</div>
<p class="toggleText">¿No tenés una cuenta? <a class="toggle" (click)="loginBool = !loginBool">Crear cuenta</a></p>
<br>
<mat-dialog-content>
  <h2>E-mail </h2>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput [(ngModel)]="email"/>
  </mat-form-field>
  <br>
  <h2>Contraseña </h2>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput [(ngModel)]="password" />
  </mat-form-field>
  <br>
  <button class="actionButton" (click)="login()" mat-raised-button> Iniciar sesión </button>
</mat-dialog-content>
</div>

<div *ngIf="!loginBool">
  <div class="container">
    <h1 mat-dialog-title>Crear cuenta</h1>
    <button (click)="closeDialog()" mat-icon-button>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </div>
  <p class="toggleText">¿Ya tenés una cuenta? <a class="toggle" (click)="loginBool = !loginBool">Ingresar a tu cuenta</a></p>
  <br>
  <mat-dialog-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2>Nombre </h2>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput formControlName="user_name" />
    </mat-form-field>
    <br>
    <h2>Apellido </h2>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput formControlName="user_surname" />
    </mat-form-field>
    <h2>Fecha de nacimiento </h2>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput formControlName="birth_date" />
    </mat-form-field>
    <br>
    <h2>E-mail </h2>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <h2>Contraseña </h2>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
    <br>
    <button mat-raised-button class="actionButton" type="submit"> Crear </button>
    </form>
    </mat-dialog-content>
  
</div>