.toggle {
  color: rgb(233, 41, 150);
  text-decoration: none;
}

.toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.toggleText {
  padding-left: 1.5rem;
}

.actionButton {
  background-color: rgb(233, 41, 150);
  color: white;
  border-radius: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 2px solid white;
}

mat-dialog-content {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-dialog-container {
  height: 100%;
}

#closeButton {
  text-align: right;
}

.container {
  display: flex;
    align-items: center;
    justify-content: space-between;
}