<a (click)=onClicked()>
<mat-card class="event-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{eventInput.event_name}}</mat-card-title>
    <mat-card-subtitle>{{eventInput.begin_datetime}}</mat-card-subtitle>
  </mat-card-header>
  <img id="eventImg" [src]="eventInput.cover_photo">
  <mat-card-content>
    <p >{{eventInput.event_description}} </p>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="jwtService.currentUserSig()?.isAdmin">
      <button mat-icon-button>
        <mat-icon (click)="onUpdate()" class="material-symbols-outlined">cached</mat-icon>
      </button>
      <button mat-icon-button>
          <mat-icon (click)="onDelete()" class="material-symbols-outlined">delete</mat-icon>
        </button>
    </div>
  </mat-card-actions>
</mat-card>
</a>