<nav>
  <div>
    <img id="logo" src="assets/portallogo.png" alt="logo">
  </div>
  <div id="topbar">
    <h1 > HisLine </h1>
    <ul>
      <li><a class="navButton" href=""> ButtonOne </a></li>
      <li><a class="navButton" href=""> ButtonTwo </a></li>
      <li><a class="navButton" href=""> ButtonThree </a></li>
      <li><a class="navButton" href=""> ButtonFour </a></li>
    </ul>
    <div id="logbuttons">
      <button> Create Account <a></a> </button>
      <button class="button"> Log in <a></a> </button>
    </div>
  </div>
  <hr style="clear: both;" >
</nav>
<section id="events">
  <article class="event">Event1</article>
  <article class="event">Event2</article>
  <article class="event">Event3</article>
  <article class="event">Event4</article>
  <article class="event">Event5</article>
  <article class="event">Event6</article>
  <article class="event">Event7</article>
  <article class="event">Event8</article>
  <article class="event">Event9</article>
  <article class="event">Event10</article>

</section>
<hr style="clear: both;">
<footer id="footer">
  <section>
    <img id="flogo" src="assets/portallogo.png" alt="logo">
  </section>
  <h2 id="sthd">Support</h2>
</footer>