<nav>
  <div>
    <a [routerLink]="''"><img id="logo" src="assets/bohemia-logo-white.png" alt="logo"></a>
  </div> 
<div class="tab-bar"> 
  <nav id="mat-tab-group" mat-tab-nav-bar [tabPanel]="tabPanel" animationDuration="150ms">
    @for (obj of arr; track obj) {
    <a class="link" [routerLink]="obj.route" mat-tab-link (click)="activeLink = obj.link" [active]="activeLink == obj.link"> {{obj.link}} </a>
    }
  </nav>
  <div  class="accountbutton">
    <button *ngIf="jwtService.currentUserSig() === null" id="account" mat-raised-button (click)="openLogin()"> Login</button>
    <button *ngIf="jwtService.currentUserSig()" id="account" mat-raised-button (click)="openUser()"> {{jwtService.currentUserSig()?.user_name}} {{jwtService.currentUserSig()?.user_surname}}</button>
  </div>
</div>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>