<nav>
  <div>
    <img id="logo" src="assets/bohemia-logo.png" alt="logo">
  </div>
  <div id="topbar">
    <ul>
      <li><a class="navButton" href=""> Eventos </a></li>
      <li><a class="navButton" href=""> Localidades </a></li>
      <li><a class="navButton" href=""> Contacto </a></li>
      <li><a class="navButton" href=""> Album de fotos </a></li>
      <li><a class="navButton" [routerLink]="['/manageevent']"> Crear Evento </a></li>
    </ul>
    <div id="logbuttons">
      <button class="button" (click)="onClicked()"><a>Create Account</a></button>
      <button (click)="onClickedGET()"><a>Log in</a></button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>