<nav>
  <div>
    <a href=""><img id="logo" src="assets/bohemia-logo.png" alt="logo"></a>
  </div>
<div class="tab-bar">
  <mat-tab-group animationDuration="250ms">
    <mat-tab label="Contacto"></mat-tab>
    <mat-tab label="Mis entradas"></mat-tab>
    <a [routerLink]="['/manageevent']"><mat-tab label="Crear Evento"></mat-tab></a>
  </mat-tab-group>
  <div class="accountbutton">
        <button id="account" mat-raised-button> Login</button>
  </div>
</div>
</nav>
<router-outlet></router-outlet>