nav {
  height: 5rem;
  background-color: rgb(233, 41, 150);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}


#logo {
  height: 5rem;
  cursor: pointer;
}


.tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


#mat-tab-group {
  flex-grow: 1;
  margin-right: 2rem;
}


::ng-deep .mat-tab-link {
  color: white !important;
}


::ng-deep .mat-tab-link:hover {
  color: #ffcc00 !important;
}


::ng-deep .mat-tab-link.mat-tab-label-active {
  color: #ffcc00 !important;
}


.accountbutton {
  display: flex;
  align-items: center;
  height: 100%;
}

#account {
  background-color: rgb(233, 41, 150);
  color: white;
  border-radius: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 2px solid white;
}

::ng-deep .mat-tab-body-content,
::ng-deep .mat-tab-body-content * {
  color: white !important;
}