ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black
}

h1 {
  float: left;
  margin: 0 1rem;
}

li {
  float: left;
  margin: 0 6.5rem;
}

nav {
  height: 5rem;
  background-color: pink;
}

#logo {
  width: 4.8rem;
  float: left;
}

#logbuttons {
  width: 0 3rem;
}

#logbuttons button {
  float: right;
}

#topbar {
  padding-top: 2rem;
}

#events {
  margin: 0 auto;
  width: 70%;
  background-color: white;
}

#footer {
  clear: both;
  background-color: pink;
  height: 5.25rem;
}

#sthd {
  margin: 0;
}

#flogo {
  width: 4.8rem;
}

footer section {
  float: right;
}

hr {
  margin: 0;
}

.button {
  margin: 0 .5rem;
}
