<h1 class="title" >Administrador de entidades</h1>

<h1 class="title"></h1>

<div *ngIf="option===1">
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input type="number" matInput formControlName="price" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input type="number" matInput formControlName="price" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input type="number" matInput formControlName="price" />
  </mat-form-field>

</div>

<div *ngIf="option===2">

</div>

<div *ngIf="option===3">

</div>

<div *ngIf="option===4">

</div>