<div id="eventContainer"><img class="eventimg" alt="No image available" [src]="event.cover_photo"></div>
<p>Nombre: {{event.event_name}}</p>
<p>Descripcion: {{event.event_description}}</p>
<p> Inicio: {{event.begin_datetime}} Fin: {{event.finish_datetime}}</p>
<p>Edad minima: {{event.min_age}}</p>
<p>Ubicacion: {{event.location.location_name}}</p>
<hr><hr><hr><hr><hr>

<div [ngSwitch]="state">

<div *ngSwitchCase="0">
<p>compra de entradas</p>
<label>
  <select>
    <option (click)="setTicketType(tType)"  *ngFor="let tType of event.ticketType; index as i">{{tType.ticketType_name}}</option>
  </select>
</label>
</div>

<div *ngSwitchCase="1">
<p>Nombre de tipo de entrada: {{selectedTicketType.ticketType_name}}</p>
<p>Precio de entrada: {{selectedTicketType.price}}</p>
<p>Cantidad a comprar: 
  <label>
    <select> 
      <option (click)="setTicketAmount(amounts[i])" *ngFor="let num of amounts; index as i">{{amounts[i]}}</option>

    </select>
  </label>
</p>
</div>


<div *ngSwitchCase="2">
<p>Resumen de compra</p>
<p>Ubicacion: {{event.location.location_name}}</p>
<p>Fecha y hora: {{event.begin_datetime}}</p>
<p>Tipo de entrada: {{selectedTicketType.ticketType_name}}</p>
<p>Cantidad de entradas: {{ticketAmount}}</p>
<p>Precio final: {{selectedTicketType.price * ticketAmount}} </p>
<button (click)="checkUserData()">Confirmar compra</button>
</div>

</div>