#closeButton {
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionButton {
  background-color: rgb(233, 41, 150);
  color: white;
  border-radius: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 2px solid white;
  width: 100%;
}