.ticket-card {
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer
}

.ticket-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#cardContainer {
  margin: 0 2rem;
}