<form [formGroup]="eventForm" (ngSubmit)="onSubmitEvent()">
  <mat-form-field>
    <mat-label>Nombre del evento</mat-label>
    <input matInput formControlName="event_name" />
  </mat-form-field>
  <br>
    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="begin_datetime">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora </mat-label>
      <mat-select [(value)]="selectedStartHour">
        @for (hour of hours; track hour) {
        <mat-option [value]="hour">{{hour}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Minuto </mat-label>
      <mat-select [(value)]="selectedStartMinute">
        @for (minuto of minutes; track minuto) {
        <mat-option [value]="minuto">{{minuto}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  <br>
    <mat-form-field>
      <mat-label>Fecha de fin</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="finish_datetime">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora </mat-label>
      <mat-select [(value)]="selectedFinishHour">
        @for (hour of hours; track hour) {
        <mat-option [value]="hour">{{hour}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Minuto </mat-label>
      <mat-select [(value)]="selectedFinishMinute">
        @for (minuto of minutes; track minuto) {
        <mat-option [value]="minuto">{{minuto}}</mat-option>
        }
      </mat-select>
    </mat-form-field>


  <br>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="event_description"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Edad mínima</mat-label>
    <input matInput formControlName="min_age" />
  </mat-form-field>
  <br>

    <mat-form-field>
      <mat-label>Ubicación </mat-label>
      <mat-select formControlName="location">
        @for (location of locationList; track location) {
        <mat-option [value]="location.id">{{location.location_name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  <br>

  <h1>Tipos de ticket</h1>
  
  <button mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon class="material-symbols-outlined">add</mat-icon>
  </button>

  <br>
  <button mat-stroked-button type="submit" [disabled]="!eventForm.valid">
    Cargar
  </button>
</form>