footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 5.25rem;
  background-color: black;
  z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
}

#support {
  color: white;
  text-align: center;
}

#footlogo {
  height: 5rem;
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

footer section {
  display: flex;
  align-items: center;
}


/**
app-event-preview.event:hover {
  animation-name: zoomin;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  from {
    width: 45%;
    height: 33rem;
  }

  to {
    width: 50%;
    height: 36rem;
  }
}

**/